<!--

A Group 6 (KCFC) Project: eBooks and PDF Online Market System 
Product Owner/Scrum Master: Mark Stephen Ranada

Developers:
Reniel Avellano
Shannon Del Rosario
Klark Jasper Sisperez
Jan Calvin Tolentino

BSIT - NS - 3A

-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Lighten - Forgot Password</title>
        <link rel="icon" href="/src/512x512.png" type="image/x-icon">
        <link rel ="stylesheet" href="/css/styles.css">
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet'>
    </head>
    <body>
        <!-- Video background (Copyright-free stock footage yan so no worries) -->
        <video autoplay muted loop id="BGvid">
            <source src="/src/bg-crfree-2.mp4" type="video/mp4">
        </video>
        <div class="opacity">
            <div class="main">
                <div class="row">
                    <!-- Logo/Tagline area -->
                    <div class="column" id="logopart">
                        <br><br>
                        <img src="/src/512x512 White.png" id="logo" alt="logo">
                        <h1>Lighten</h1>
                        <p><i>Enlightening your Knowledge since 2020</i></p>
                        <br /><br /><br /><br />
                    </div>
                    <!-- Forgot Password Area -->
                    <div class="column" id="fpwform">
                        <br /><br /><br /><br /><br />
                        <h3>Forgot Password</h3>
                        <p>Please enter your e-mail for us to send details for your password credentials</p>
                        <form > <!-- START OF BACKEND FORM (Connect HTML Form to your desired Back-end/DBMS) -->
                            <div class="container">
                                <label for="pwlog"><b>E-mail:</b></label>
                                <input type="password" placeholder="Enter E-mail" name="fpwemail" id="fpwemail" required>
                                <p>Want to go back to Log-in page? <a id="lg" href="index.html">Click Here.</a></p><br>
                                <div class="fpwbutton">
                                    <button type="submit">Send</button>
                                </div>
                                </div>
                            </div>
                        </form> <!-- END OF BACKEND FORM -->
                        <form> <!-- START OF BACKEND FORM (Connect HTML Form to your desired Back-end/DBMS) -->
                            <div class="container">
                                <label for="pwlog"><b>New Password:</b></label>
                                <input type="password" placeholder="Enter Password" name="nfpwlog" id="nfpwlog" required>
                                <br /> 
                                <label for="pwlog"><b>Confirm Password:</b></label>
                                <input type="password" placeholder="Enter Password" name="frpsw" id="frpsw" required> 
                                <div class="fpwbutton">
                                    <button type="submit">Change Password</button>
                                </div>
                            </div>
                        </form> <!-- END OF BACKEND FORM -->
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
