<!--

A Group 6 (KCFC) Project: eBooks and PDF Online Market System 
Product Owner/Scrum Master: Mark Stephen Ranada

Developers:
Reniel Avellano
Shannon Del Rosario
Klark Jasper Sisperez
Jan Calvin Tolentino

BSIT - NS - 3A

-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Lighten</title>
        <link rel="icon" href="src/512x512.png" type="image/x-icon">
        <link rel ="stylesheet" href="css/styles.css">
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet'>
    </head>
    <body>
        <!-- Video background (Copyright-free stock footage yan so no worries) -->
        <video autoplay muted loop id="BGvid">
            <source src="src/bg-crfree-2.mp4" type="video/mp4">
        </video>
        <div class="opacity">
            <div class="main">
                <div class="row">
                    <!-- Logo/Tagline area -->
                    <div class="column" id="logopart">
                        <br><br>
                        <img src="src/512x512 White.png" id="logo" alt="logo">
                        <h1>Lighten</h1>
                        <p><i>Enlightening your Knowledge since 2020</i></p>
                    </div>
                    <!-- Login form area -->
                    <div class="column" id="loginform">
                        <h3>Welcome to Lighthen! Please Log-in Here</h3>
                        <form method="POST" action="user/login"> <!-- START OF BACKEND FORM (Connect HTML Form to your desired Back-end/DBMS) -->
                            <div class="container">
                                <label for="u1log"><b>Username:</b></label>
                                <input type="text" placeholder="Enter Username" name="unlog" id="unlog" required>
                                <br>
                                <label for="p1log"><b>Password:</b></label>
                                <input type="password" placeholder="Enter Password" name="pwlog" id="pwlog" required>
                                <p>Forgot Password? <a id="fpw" href="user/forgotPassword">Click Here.</a></p><br>    
                                <div class="loginbutton">
                                    <button type="submit">Login</button>
                                </div>
                                <label>
                                <input type="checkbox" checked="checked" name="remember"> Remember me
                                </label>
                            </div>
                        </form> <!-- END OF BACKEND FORM -->
                        <div class="container">
                            <hr>
                            <p>You don't have an account? Register now!</p>
                            <br>
                            <form action="user/register"> 
                                <div class="regibutton" id="regibtn">
                                    <button type="submit">Register an Account</button>
                               </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>